<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Product #<%= @product.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Url</dt>
              <dd><%= @product.url %></dd>

              <dt>Description</dt>
              <dd><%= @product.description %></dd>

              <dt>Price</dt>
              <dd><%= @product.price %></dd>

              <dt>Picture</dt>
              <dd><%= @product.picture %></dd>

              <dt>Title</dt>
              <dd><%= @product.title %></dd>

              <dt>Product</dt>
              <dd><%= @product.product_id %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/products" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/products/<%= @product.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_product/<%= @product.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
